* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffe9d5+0,fedec0+47,fed3aa+100 */
  background: #ffe9d5; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffe9d5 0%, #fedec0 47%, #fed3aa 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffe9d5), color-stop(47%,#fedec0), color-stop(100%,#fed3aa)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffe9d5 0%,#fedec0 47%,#fed3aa 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ffe9d5 0%,#fedec0 47%,#fed3aa 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffe9d5 0%,#fedec0 47%,#fed3aa 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ffe9d5 0%,#fedec0 47%,#fed3aa 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe9d5', endColorstr='#fed3aa',GradientType=0 ); /* IE6-9 */

/*  background: ##0000A0 (url'../images/background-2.jpg');
*/  font-family: 'Lato', Helvetica, Arial, sans-serif;
  color: #000066;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  color: #4e5559;
}
h1 { font-size: 32px; }
h2 { font-size: 28px; text-transform: uppercase;}
h3 { font-size: 24px; }
h4 { font-size: 20px; }
h5 { font-size: 18px; }
h6 { font-size: 16px; }
p {
  color: #000066;
  font-size: 16px;
  line-height: 1.5em;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.8);
}
a {
  color: black;
  font-size: 16px;
}
a:hover {
  color: #2492af;
}
.content-box {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a4d4b4+0,a4d4b4+0,a4d4b4+0,a4d4b4+0,a4d4b4+2,a4d4b4+3,a4d4b4+7,b8dec1+14,b8dec1+14,b8dec1+34,b0dcbc+82,b8dec1+82,d4ecda+100 */
  background: #a4d4b4; /* Old browsers */
  background: -moz-linear-gradient(top,  #a4d4b4 0%, #a4d4b4 0%, #a4d4b4 0%, #a4d4b4 0%, #a4d4b4 2%, #a4d4b4 3%, #a4d4b4 7%, #b8dec1 14%, #b8dec1 14%, #b8dec1 34%, #b0dcbc 82%, #b8dec1 82%, #d4ecda 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a4d4b4), color-stop(0%,#a4d4b4), color-stop(0%,#a4d4b4), color-stop(0%,#a4d4b4), color-stop(2%,#a4d4b4), color-stop(3%,#a4d4b4), color-stop(7%,#a4d4b4), color-stop(14%,#b8dec1), color-stop(14%,#b8dec1), color-stop(34%,#b8dec1), color-stop(82%,#b0dcbc), color-stop(82%,#b8dec1), color-stop(100%,#d4ecda)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #a4d4b4 0%,#a4d4b4 0%,#a4d4b4 0%,#a4d4b4 0%,#a4d4b4 2%,#a4d4b4 3%,#a4d4b4 7%,#b8dec1 14%,#b8dec1 14%,#b8dec1 34%,#b0dcbc 82%,#b8dec1 82%,#d4ecda 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #a4d4b4 0%,#a4d4b4 0%,#a4d4b4 0%,#a4d4b4 0%,#a4d4b4 2%,#a4d4b4 3%,#a4d4b4 7%,#b8dec1 14%,#b8dec1 14%,#b8dec1 34%,#b0dcbc 82%,#b8dec1 82%,#d4ecda 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #a4d4b4 0%,#a4d4b4 0%,#a4d4b4 0%,#a4d4b4 0%,#a4d4b4 2%,#a4d4b4 3%,#a4d4b4 7%,#b8dec1 14%,#b8dec1 14%,#b8dec1 34%,#b0dcbc 82%,#b8dec1 82%,#d4ecda 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #a4d4b4 0%,#a4d4b4 0%,#a4d4b4 0%,#a4d4b4 0%,#a4d4b4 2%,#a4d4b4 3%,#a4d4b4 7%,#b8dec1 14%,#b8dec1 14%,#b8dec1 34%,#b0dcbc 82%,#b8dec1 82%,#d4ecda 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4d4b4', endColorstr='#d4ecda',GradientType=0 ); /* IE6-9 */
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #c9cbd1;*/
}
.button {
  display: inline-block;
  border: 1px solid #c9cbd7;
  text-transform: uppercase;
  font-weight: 575;
  color: #666699;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eef8de+0,eff8e0+0,eafccc+61,eafccc+61 */
  background: #eef8de; /* Old browsers */
  background: -moz-linear-gradient(top,  #eef8de 0%, #eff8e0 0%, #eafccc 61%, #eafccc 61%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eef8de), color-stop(0%,#eff8e0), color-stop(61%,#eafccc), color-stop(61%,#eafccc)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #eef8de 0%,#eff8e0 0%,#eafccc 61%,#eafccc 61%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #eef8de 0%,#eff8e0 0%,#eafccc 61%,#eafccc 61%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #eef8de 0%,#eff8e0 0%,#eafccc 61%,#eafccc 61%); /* IE10+ */
  background: linear-gradient(to bottom,  #eef8de 0%,#eff8e0 0%,#eafccc 61%,#eafccc 61%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eef8de', endColorstr='#eafccc',GradientType=0 ); /* IE6-9 */
}
.button:hover {
  background: red;
  color: white;
}
.large {
  padding: 10px 14px;
}
.small {
  padding: 6px 12px;
}
#header {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fffbf7+0,fff9f3+47,fff6ed+100 */
  background: #fffbf7; /* Old browsers */
  background: -moz-linear-gradient(top,  #fffbf7 0%, #fff9f3 47%, #fff6ed 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fffbf7), color-stop(47%,#fff9f3), color-stop(100%,#fff6ed)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #fffbf7 0%,#fff9f3 47%,#fff6ed 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #fffbf7 0%,#fff9f3 47%,#fff6ed 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #fffbf7 0%,#fff9f3 47%,#fff6ed 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #fffbf7 0%,#fff9f3 47%,#fff6ed 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffbf7', endColorstr='#fff6ed',GradientType=0 ); /* IE6-9 */
  border-bottom: 1px solid black;
}
#logo {
  float: left;
  color: black;
  font-size: 2em;  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eae7f7+17,eae7f7+85,f6f6fc+100 */
  height: 30px;
}
.navigation {
  float: right;
  list-style: none;
}
.navigation li {
  float: left;
  margin-right: 50px;
  margin-top: 15px;
}
ul.navigation li:last-child {
  margin-right: 0;
}
.navigation li  {
  font-size: 16px;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
  line-height: 1em;
}
#top-testimonial {
  padding: 40px 0;
}
.testimonial-photo {
  padding: 5px;
}
.testimonial {
  padding: 16px 20px;
  margin-bottom: 20px;
}
.testimonial > p {
  font-size: 20px;
  color: #000066;
}
.testimonial-info {
  text-align: right;
  font-weight: 500;
}
.testimonial-info p,
.testimonial-info a {
  font-size: 17px;
  margin-bottom: 0;
}
#top-testimonial .button {
  float: right;
}
#portfolio {
  padding: 20px 0px 50px 0;   
}
#portfolio h2 {
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
  margin-bottom: 12px;
  float: left;
}
#portfolio .navigation {
  margin-top: 10px;
}
#portfolio .navigation li a {
  text-transform: none;
}
.portfolio-box {
  border: 1px solid blue;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fffbf7+0,fff9f3+47,fff6ed+100 */
  background: #fffbf7; /* Old browsers */
  background: -moz-linear-gradient(top,  #fffbf7 0%, #fff9f3 47%, #fff6ed 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fffbf7), color-stop(47%,#fff9f3), color-stop(100%,#fff6ed)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #fffbf7 0%,#fff9f3 47%,#fff6ed 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #fffbf7 0%,#fff9f3 47%,#fff6ed 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #fffbf7 0%,#fff9f3 47%,#fff6ed 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #fffbf7 0%,#fff9f3 47%,#fff6ed 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffbf7', endColorstr='#fff6ed',GradientType=0 ); /* IE6-9 */
  padding: 30px;
  width: 1002px;
  overflow: hidden;  
}
.portfolio-box ul {
  list-style: none;
}
.portfolio-box ul li {
  margin-bottom: 25px;
}









































/**/